* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden; /* Eliminar scroll horizontal */
}

/* Estilos del header */
header {
    padding: 2rem 12rem;
    text-align: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #f4f4f4;
    position: relative;
    max-width: 100vw; /* Evitar desbordamiento */
}

/* Pseudoelemento detrás del header */
header::after {
    content: '';
    position: absolute;
    width: 100%; /* Ocupa todo el ancho del header */
    height: 6rem; /* Ajusta la altura según sea necesario */
    background-color: #0A0A0A;
    bottom: -25px; /* Mitad del tamaño del pseudoelemento */
    left: 0;
    z-index: -1; /* Para que esté detrás del header */
}

/* Estilos de navegación */
nav.botonera {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 25px;
    background-color: #0A0A0A;
    margin-bottom: 2rem;

}

nav.botonera a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 0rem 1rem;
    font-size: 0.9rem; /* Tamaño de las palabras más pequeño */
    transition: all 0.3s;
}

nav.botonera a:hover {
    color: #ff8132;
    border-bottom: 1px solid #ff8132;
}


header p {
    margin-bottom: 1rem;
}

.large-text {
    font-size: 4.5rem;
    font-weight: bold;
}

/* Estilos de los botones */
.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; /* Espacio entre el texto y el icono */
    padding: 1.5rem 2.2rem;
    border-radius: 50px;
    border: 2px solid #ff8132;
    background-color: #FFFFFF;
    color: #ff8132;
    cursor: pointer;
    transition: all 0.3s;
}

.btn svg {
    width: 24px;
    height: 24px;
}

.btn:hover {
    background-color: #ff8132;
    color: #FFFFFF;
}

.btn:hover svg {
    fill: #FFFFFF;
}


/* Inicio Seccion 2 de servicios */
/* Estilos de la sección  */

section.services {
    background-color: #0A0A0A;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 4rem 10rem;
    text-align: center;
}


.services .titulo2 {
    font-size: 3.8rem;
    color: #FFFFFF;
    margin-bottom: 4rem;
}

/* Estilos de la contenedor de servicios con Flexbox */
.services-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.services-container .service-box {
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/* Estilos para el contenedor de la imagen circular */
.imagen {
    width: 100px;
    height: 100px;
    background-color: #dbd7d7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    overflow: hidden; /* Para asegurarse de que la imagen no salga del círculo */
}

/* Estilos para la imagen */
.imagen svg {
    width: 50%;
    height: 50%;
    object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor circular */
}

.services-container .service-box h1 {
    color: #000000;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.service-box p {
    color: #333333;
    margin-top: 0.5rem;
}
/* Inicio Seccion 3 */
section.featured-projects {
    background-color: #F4F4F4;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-bottom: 2rem;
}

/* Pseudo-elemento para la parte inferior */
.featured-projects::after {
    content: '';
    position: absolute;
    top: 160rem;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 70px; /* Ajusta la altura según sea necesario */
    background-color: #0A0A0A;
    bottom: -25px; /* Mitad de la altura del pseudo-elemento */
    left: 0;
    z-index: -1; /* Para que esté detrás del contenedor principal */
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 1rem;
}

.title {
    color: #0A0A0A;
    font-size: 4rem;
    margin-left: 9rem;
}

.flex-container .button-container {
    display: flex;
    gap: 1rem;
    background-color: #FFFFFF;
    border: 1px solid #ff8132;
    border-radius: 50px;
    padding: 0.4rem 0.4rem;
    margin-right: 9rem;
}

/* Estilos de los botones */
 button {
    font-family: 'Poppins', sans-serif;
    padding: 1.5rem 2.2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}

.exploration-btn {
    font-size: 1.5rem;
    background-color: #ff8132;
    color: #FFFFFF;
    border: none;
}

.exploration-btn:hover {
    background-color: #e57028;
}

.case-study-btn {
    font-size: 1.5rem;
    background-color: #FFFFFF;
    color: #0A0A0A;
    border: none;
}

.case-study-btn:hover {
    background-color: #f0f0f0;
}

/* cajas */
/* Estilos de los proyectos */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem 10rem;
}

.project-box {
    background-color: #F4F4F4;
    flex: 1 1 calc(50% - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-container {
    position: relative;
    width: 100%;
    height: 25rem;
    padding: 0.8rem 0.1rem 0.1rem 0.1rem;
    background-color: #a59d9d;
    border-radius: 25px;

}

.image-container img {
    width: 95%;
    height: 95%;
    background-color: #333;
}

.buttons-overlay {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: left;
    gap: 0.5rem;
}

/* .round-btn-container {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
} */

.small-btn {
    background-color: #FFFFFF;
    border: 1px solid #ff8132;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.round-btn {
    position: absolute;
    top: 16rem;
    left: 22rem;
    background-color: rgba(255, 255, 255, 0); /* Fondo translúcido */
    border: 2px solid #ff8132;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .round-btn svg {
    width: 24px; /* Tamaño de la flecha más grande */
    height: 24px;
    fill: #ff8132; /* Color de la flecha */
    transition: fill 0.3s;
  }
  
  .round-btn:hover {
    background-color: #ff8132; /* Cambio de color del botón al hacer hover */
    border-color: #FFFFFF;
  }
  
  .round-btn:hover svg {
    fill: #FFFFFF; /* Cambio de color de la flecha al hacer hover */
  }

.project-box h1 {
    /* font-family: 'Poppins', sans-serif; */
    width: 100%;
    color: #0A0A0A;
    font-size: 1.8rem;
    margin-top: 1rem;
    text-align: left;
}

.project-box h3 {
    width: 100%;
    color: #333;
    font-size: 1rem;
    margin-top: 0.5rem;
    text-align: left;
}

.button-container .btn {
    font-size: 1rem;
    background-color: #FFFFFF;
    color: #0A0A0A;
    border-radius: 25px;
    padding: 0.75rem 1.5rem;
    border: 2px solid #ff8132;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 2rem;
}

.button-container .btn:hover {
    background-color: #ff8132;
    color: #FFFFFF;
}

/* Final */
/* Inicio Footer */
/* Estilos del pie de página */
footer {
    background-color: #0A0A0A;
    padding: 7rem 10rem 3rem 10rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left, .footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-left {
    align-items: flex-start;
    text-align: left;
}

.footer-title {
    width: 100%;
    font-weight: bolder;
    font-size: 3.5rem;
    color: #F4F4F4;
    margin-bottom: 1rem;
}

.footer-description {
    font-size: 1rem;
    color: #f4f4f4;
    margin-bottom: 1.5rem;
}

.footer-contact {
    font-weight: 500;
    font-size: 1.2rem;
    color: #f4f4f4;
    text-decoration: underline
}

.footer-right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-circle {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #ff8132;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-image {
    background-image: url(../img/perfil3.png);
    background-size: cover;
    background-position:top 50px left 30px; 
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 2;
} 

.small-circle {
    position: absolute;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: #FFFFFF;
    z-index: 1;
}

/* Estilos de la botonera de redes */
nav.botonera2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    width: 100%;
}

nav.botonera2 a {
    text-decoration: none;
    color: #F4F4F4;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    transition: all 0.3s;
}

nav.botonera2 a:hover {
    color: #ff8132;
}

.name-link {
    
    margin: 0 10.5rem 0 0;
}

.social-link {
    font-size: 0.9rem;
    color: #0A0A0A;
    transition: color 0.3s;
}

.social-link:hover {
    color: #ff8132;
}

/* Extra Small Devices, Phones (320px) */
