/* Ultra Large Devices, 4K Monitors (1920px) */
@media (max-width: 1920px) {
    header {
        padding: 2rem 10rem;
    }
    .large-text {
        font-size: 5rem;
    }
    nav.botonera {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3.5rem;
    }
    section.services {
        padding: 4rem 10rem;
    }
    .services .titulo2 {
        font-size: 5rem;
    }
    .services-container {
        flex-direction: row;
        align-items: center;
    }
    .flex-container {
        flex-direction: row;
        align-items: center;
        gap: 3.5rem;
    }
    .title {
        font-size: 5rem;
        margin-left: 0;
    }
    .flex-container .button-container {
        margin-right: 0;
    }
    .projects-container {
        padding: 2rem 10rem;
        flex-direction: row;
        align-items: center;
    }
    footer {
        padding: 4rem 10rem;
    }
    .footer-title {
        font-size: 5rem;
    }
}